* {
    font-family: Arial;
    font-size: 18px;
}
header, footer {
    background-color: lawngreen;
    margin: auto;
    padding: 20px;
}
h1, #head, h2, h3, h4 {
    text-align: center;
}
h1 {
    font-size: 40px;
    margin: 10px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 30px;
    margin: 10px;
}
#nav1, #nav2 {
    list-style-type: none;
    padding: 8px 20px;
    margin: 0px;
}
#nav1 {
    background-color: orange;
}
#nav2 {
    background-color: gold;
}
.nav1, .nav2 {
    display: inline;
}
.acc {
    float: right;
    position: relative;
    bottom: 6px;
}
.nav1 a{
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
}
.nav1 a:link, .nav1 a:visited, .nav2 a:link, .nav2 a:visited {
    color: rgba(0, 0, 0, 0.700);
}
.nav1 a:hover {
    background-color: orangered;
}
#searchbar {
    width: 25%;
    height: 25px;
}
.nav2 a {
    padding: 8px 8%;
    text-decoration: none;
}
.nav2 a:hover {
    background-color:  goldenrod;
}
.about, .numberedList p {
    margin-left: 5px;
    margin-right: 5px;
    text-indent: 1em;
    font-weight: normal;
    text-align: justify;
}
.numberedList {
    font-weight: bolder;
}
table {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
    border-collapse: collapse;
}
th, td {
    text-align: center;
    padding: 5px 15px;
    border-bottom: 1px solid gray;
}
tr:hover td{
    background-color: rgb(0, 200, 0);
}
#social {
    text-align: center;
}
#social a img{
    width: 2em;
    height: 2em;
}
#copyright {
    text-align: center;
    margin-top: 10px;
    color: gray;
}
form {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    height: 30px;
    padding: 5px;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    background-color: rgb(220, 255, 184);
}
#subscribe {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    width: 40%;
    height: 30px;
    padding: 5px;
}
#subButton {
    width: 20%;
    height: 30px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 30px;
}
.fieldTitle {
    font-weight: bold;
    font-size: 20px;
}
input[type="submit"] {
    width: 40%;
    height: 50px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 3px;
    background-color: lawngreen;
    box-sizing: border-box;
}
input[type="submit"]:hover {
    background-color: rgb(0, 200, 0);
    cursor: pointer;
}
#forgotPwd {
    font-size: 14px;
}
#forgotPwd input {
    font-size: 12.5px;
    width: 67%;
}
.asterisk {
    color: red;
}
ol {
    list-style: none;
    counter-reset: li;
}
.popular::before {
    content: counter(li);
    color: green;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.popular {
    counter-increment: li;
}
.popular {
    width: 100%;
    position: relative;
    padding: 30px;
}
.popular span {
    font-weight: bold;
}
.popular img {
    position: absolute;
    right: 100px;
    width: 200px;
    height: 200px;
}
.popular p {
    width: 70%;
    text-align: justify;
}
#today {
    float: left;
    width: 200px;
    height: 200px;
}
#todayP {
    padding: 50px;
    text-align: justify;
}
.more {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    border: 3px solid green;
    padding: 3px;
}
.more:link, .more:visited {
    color: black;
}
.more:hover {
    color: white;
    background-color: green;
}